<h2>Historial de Citas</h2>

<mat-form-field appearance="outline" style="width: 100%; max-width: 400px; margin-bottom: 20px;">
    <mat-label>Buscar por paciente o médico</mat-label>
    <input matInput #inputBuscador (input)="dataSource.filter = inputBuscador.value.trim().toLowerCase()" placeholder="Ej: Valentina o Soto">
  </mat-form-field>
  
  
<table mat-table [dataSource]="dataSource" class="mat-elevation-z2" style="width: 100%;">
  
  <!-- Paciente -->
  <ng-container matColumnDef="paciente">
    <th mat-header-cell *matHeaderCellDef> Paciente </th>
    <td mat-cell *matCellDef="let cita"> {{ cita.paciente }} </td>
  </ng-container>

  <!-- Médico -->
  <ng-container matColumnDef="medico">
    <th mat-header-cell *matHeaderCellDef> Médico </th>
    <td mat-cell *matCellDef="let cita"> {{ cita.medico }} </td>
  </ng-container>

  <!-- Fecha -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let cita"> {{ cita.fecha }} </td>
  </ng-container>

  <!-- Hora -->
  <ng-container matColumnDef="hora">
    <th mat-header-cell *matHeaderCellDef> Hora </th>
    <td mat-cell *matCellDef="let cita"> {{ cita.hora }} </td>
  </ng-container>

  <!-- Estado -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let cita">
      <mat-chip [color]="getColor(cita.estado)" selected>{{ cita.estado }}</mat-chip>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
